
@{
    ViewData["Title"] = "Create";
}

@model Ad

<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">

        <form method="post" enctype="multipart/form-data">
            
            
            <div class="mb-3">
                <label asp-for="ImageFile" class="form-label">ImageFile</label>
                <input asp-for="ImageFile" class="form-control">
                <span asp-validation-for="ImageFile" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary" class="text-danger">Create</button>
        </form>
    </div>
</div>

