@{
    Layout = null;
}  
        
        
    <body>

        <div style="padding-left:500px;padding-top:200px">
            <img src="~/assets/images/icons/error.png" alt="">
            <h2>Page not found</h2>
            <div class="text">Please try one of the following pages:</div>
            <a href="index-2.html" class="theme-btn btn-style-one"><span class="btn-title">Home Page</span></a>
            <a href="contact.html" class="theme-btn btn-style-one"><span class="btn-title">Contact Us</span></a>
        </div>
                    
                
            
    </body>
        
