@model List<Gallery>



    <!-- Portfolio Section -->
    <section class="portfolio-section alternate">
        <div class="auto-container">
            <!--MixitUp Galery-->
            <div class="mixitup-gallery">
                
                <div class="btns-outer">
                    <!--Filter-->
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="filter active" data-role="button" data-filter="all">All</li>
                        <li class="filter" data-role="button" data-filter=".cancer">Cancer</li>
                        <li class="filter" data-role="button" data-filter=".detal-care">Detal Care</li>
                        <li class="filter" data-role="button" data-filter=".cardiology">Cardiology</li>
                        <li class="filter" data-role="button" data-filter=".dental">Dental</li>
                        <li class="filter" data-role="button" data-filter=".eye-care">Eye Care</li>
                    </ul>                           
                </div>
            
            </div>
        <!-- Portfolio Block -->
        
        </div>

    <div class="portfolio-block all mix cancer cardiology eye-care col-lg-4 col-md-6 col-sm-12">
        <div class="image-box">
            <figure class="image"><img src="images/gallery/1-2.jpg" alt=""></figure>
            <div class="overlay">
                <a href="images/gallery/1-2.jpg" class="icon-box lightbox-image" data-fancybox="gallery"><span class="fa fa-expand"></span></a>
                <div class="title-box">
                    <h5>Diagnostic Imagine</h5>
                    <div class="cat">
                        <a href="#">Orthopedics</a>,
                        <a href="#">Pharmacy</a>,
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- End Portfolio Section -->

   

@*@await Component.InvokeAsync("Ad");
*@




