@model Department
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Tittle" class="form-label">Tittle</label>
        <input asp-for="Tittle" class="form-control">
        <span asp-validation-for="Tittle" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="IconUrl" class="form-label">IconUrl</label>
        <input asp-for="IconUrl" class="form-control">
        <span asp-validation-for="IconUrl" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Description1" class="form-label">Description1</label>
        <input asp-for="Description1" class="form-control">
        <span asp-validation-for="Description1" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Description2" class="form-label">Description2</label>
        <input asp-for="Description2" class="form-control">
        <span asp-validation-for="Description2" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label">ImageFile</label>
        <input asp-for="ImageFile" class="form-control">
        <span asp-validation-for="ImageFile" class="text-danger"></span>

    </div>

    <div>
        <img style="max-width:100px" src="~/uploads/departments/@Model.Imageurl" alt="">
        <input type="hidden" asp-for="@Model.Imageurl" />
    </div>




    <button type="submit" class="btn btn-primary">Submit</button>
</form>


